<!DOCTYPE html>
<html><head>
    <title>
      SwitchOn
    </title>
    <meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
<meta name="description" content="" />
<meta name="copyright" content="" />
<link rel="stylesheet" type="text/css" href="/css/kickstart.css" media="all" />                  
<link rel="stylesheet" type="text/css" href="/css/style.css" media="all" />                          
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script type="text/javascript" src="/js/kickstart.js"></script>
    

    <%- style -%>

</head><body>


    <%- include('header') -%>
<div>
    <%- body -%>
</div>
<%- script -%>
<div id="footer">
&copy; Copyright 2020–2021 All Rights Reserved. This website was built BY KUNAL KHAIRNAR
</div>

</body></html>