



	

	 

	
	
	


<h2>Create an account</h2>

<form id="regForm" action="/users/create" method="POST">
    <div>
        <label >Department</label>
        <select name="type" id="">
            <option value="computer">Computer</option>
            <option value="mechanical">Mechanical</option>
            <option value="civil">Civil</option>
            <option value="it">IT</option>
            <option value="electrical">Electrical</option>
            <option value="chemical">Chemical</option>
        </select>
    </div><br>
    <div>
        <label>Frist name</label>
        <input type="text" name="name" value="">
    </div><br>
    
    <div>
        <label>Email Address </label>
        <input type="email" name="email" value="">
    </div><br>
    <div>
        <label>Password </label>
        <input type="password" name="password" value="">
    </div><br>
    <div>
        <label>Confirm Password </label>
        <input type="password" name="confirmpassword" value="">
    </div><br>
    <div>
       
        <input type="submit" value="Signup">
    </div>
</form>
    
    
   
	
	

